.catalogue-item {
  border-bottom: 1px solid $grey-2;

  // CSS is so hacky... it conflates selecting and prioritizing rules. Overriding the
  // color of `a:visited` outweighs class-level colors but not nested class colors.
  // Supposedly https://css-tricks.com/css-cascade-layers/
  // (https://developer.mozilla.org/en-US/docs/Web/CSS/@layer) fixes it. But only very
  // recent browsers support it.
  &, &:visited {
    color: $default-color;
  }

  display: block;
  padding: 0.5rem 0 2rem;

  &:hover .catalogue-line,
  &:focus .catalogue-line {
    width: 5rem;
  }

  &:last-child {
    border: 0;
  }

  .catalogue-pinned {
    color: $default-tint;
    font-family: $serif-secondary;
  }

  .catalogue-title {
    color: $default-shade;
    display: block;
    font-family: $sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    margin: .5rem 0 .4rem;
  }

  .catalogue-time {
    color: $default-tint;
    font-family: $serif-secondary;
  }

  > div > :last-child {
    margin-bottom: 0;
  }
}
