pre,
code {
  font-family: $monospaced;
  // In <pre><code> blocks, we must set font-size at <pre> rather than nested <code>,
  // since <pre>'s font size determines <code>'s line height.
  font-size: 75%;
}

h1, h2, h3 {
  pre, code {
    // Sans-serif headings appear larger than Crimson Pro body text at a given font size,
    // so don't reduce font size of code blocks as much.
    font-size: 95%;
  }
}

code {
  border-radius: 4px;
  padding: 2px 5px;
  background-color: $code-bg;
}

pre {
  margin: 0 0 $margin-bottom;
  border-radius: 4px;
  padding: 8px 12px 10px;
  overflow: auto;
  // line-height: 1.5;
}

pre code {
  background-color: transparent;
  font-size: unset;
  color: inherit;
  border: 0;
  padding: 0;
}
