// Colors
$default-color: #111 !default;
$default-shade: #222 !default;
$default-tint: #828282 !default;
$grey-1: #666 !default;
$grey-2: #d0d0d0 !default;
$grey-3: #f9f9f9 !default;
$white: #fff !default;
$blue: #2a70b0 !default;
$purple: #8656b2 !default;
$shadow-color: rgba(0, 0, 0, .2) !default;
$code-bg: #f0f0f0 !default;
$code-color: $default-color !default;

// Fonts
$serif-primary: "Crimson Pro", "Source Serif Pro", 'Times New Roman', Times, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", '微软雅黑', '思源黑体', SYHT, "WenQuanYi Micro Hei", serif !default;
$serif-secondary: $serif-primary !default;
$sans-serif: 'Helvetica Neue', "Nimbus Sans", 'Segoe UI', Helvetica, Arial, Arimo, "Liberation Sans", sans-serif !default;
$monospaced: "IBM Plex Mono", Menlo, Monaco, "DejaVu Sans Mono", Consolas, monospace !default;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}

// Layout
$desktop-min: 600px;

// Should I denote in rem so it grows with font size (which is larger on phones)?
// Probably not, I don't want *more* whitespace on mobile.
$margin-bottom: 15px;
